.navbar {
    z-index: 1000;
    position: fixed;
    margin: 0 auto;
    padding: 12px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100vw;
    background-color: var(--white);
    transition: .3s;
    /* max-width: var(--max-width); */
    /* backdrop-filter: blur(20px); */
}

:global(body.scroll_down) .navbar {
    top: -76px;
}
.navbar .image {
    width: 100%;
    height: 50px;
    object-fit: contain;
}

.links {
    list-style: none;
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    color: var(--black);
    transition: color .2s;
}

.links + .phone {
    color: var(--black);
    transition: color .2s;
    display: none;
}

.burger {
    z-index: 1100;
    position: relative;
    display: block;
    height: 20px;
    width: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.burger span {
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: var(--black);
    border-radius: 2px;
    transition: .3s;
}
.burger span:nth-child(1) {
    top: 0;
    left: 0;
}
.burger span:nth-child(2) {
    top: calc(50% - 1px);
    left: 0;
}
.burger span:nth-child(4) {
    top: calc(50% - 1px);
    left: 0;
}
.burger span:nth-child(3) {
    bottom: 0;
    left: 0;
}
.burger.active span {
    background-color: var(--brown);
}
.burger.active span:nth-child(1),
.burger.active span:nth-child(3) {
    opacity: 0;
    scale: 0;
}
.burger.active span:nth-child(2) {
    transform: rotateZ(45deg);
}
.burger.active span:nth-child(4) {
    transform: rotateZ(-45deg);
}

.burgerMenu {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s var(--bezier-1) .1s;
    z-index: 1000;
}
.burger.active + .burgerMenu {
    right: 0;
}

.burgerMenu ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.burgerMenu li {
    font-size: 80px;
    opacity: 0;
    transform: translate3d(0, -20px, 0);
    transition:  .3s var(--bezier-1) .2s;
    color: var(--brown);
}
.burgerMenu li + li {
    margin-top: 24px;
}
.burgerMenu li:nth-child(1) {
    transition-delay: 0.2s;
}
.burgerMenu li:nth-child(2) {
    transition-delay: 0.27s;
}
.burgerMenu li:nth-child(3) {
    transition-delay: 0.31s;
}
.burger.active + .burgerMenu li {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.transis,
.transis div {
    pointer-events: none;
}
.transis div {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% + 300px);
    transform: translate3d(0, 0, 0);
    transition: .5s var(--bezier-1);
}
.transis div:nth-child(1),
.transis div:nth-child(3) {
    width: calc(100vw + 300px);
    background-color: var(--beige);
    /* transition-delay: .1s; */
}
.transis div:nth-child(2) {
    width: calc(100vw + 200px);
    background-color: var(--brown);
    /* transition-delay: .1s; */
    transform: translate3d(100px, 0, 0);
}
.transis div:nth-child(3) {
    width: calc(100vw + 100px);
    /* transition-delay: .15s; */
    transform: translate3d(200px, 0, 0);
}
.burger.active + .burgerMenu .transis div:nth-child(1) {
    transform: translate3d(-300px, 0, 0);
}
.burger.active + .burgerMenu .transis div:nth-child(2) {
    transform: translate3d(-200px, 0, 0);
}
.burger.active + .burgerMenu .transis div:nth-child(3) {
    transform: translate3d(0px, 0, 0);
}

.burger_infos {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 16px;
    bottom: 64px;
    margin: auto;
}

@media (min-width: 768px) {
    .navbar {
        padding: 8px calc((100% - 700px) / 2);
    }

    :global(body.scroll_down) .navbar {
        top: -68px;
    }

    .burger,
    .burgerMenu {
        display: none;
    }

    .links {
        display: flex;
    }

    .phone {
        display: block;
    }
}

@media (min-width: 1024px) {
    .navbar {
        padding: 8px calc((1000px - 800px) / 2);
    }
}

@media (min-width: 1400px) {
    .navbar {
        padding: 8px calc((1400px - 1100px) / 2);
    }
}

@media (min-width: 1700px) {
    .navbar {
        padding: 8px calc((100% - var(--max-width)) / 2);
    }
}
