.quote {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40dvh;
    overflow: hidden;
}

.quote_bgimage {
    z-index: -2;
    position: absolute;
    inset: 0;
    object-fit: cover;
    scale: 1.3;
}

.quote p {
    max-width: 934px;
    color: var(--beige);
}

@media (max-width: 768px) {
    .quote {
        padding: 20px;
        height: 30dvh;
    } 
}