.quote {
    position: relative;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40dvh;
}

.quote_bgimage {
    z-index: -2;
    position: absolute;
    inset: 0;
}

.quote p {
    max-width: 934px;
    color: var(--beige);
}