.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70dvh;
}

.hero_bgimage {
    z-index: -2;
    position: absolute;
    inset: 0;
}

.hero_title {
    max-width: 660px;
    text-align: center;
    color: var(--beige);
}