.testimonials {
    position: relative;
    padding: 20px;
    max-width: 1076px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.testimonials:hover {
    cursor: grab;
}

.testimonial {
    display: flex;
    flex-direction: column;
}

.testimonial_text {
    color: var(--black);
    margin-bottom: 8px;
}

.testimonial_infos {
    display: flex;
    align-items: center;
    gap: 16px;
}

.testimonial_image {
    /* border-radius: 50%; */
}

.testimonial_name {
    font-weight: bold;
}

.testimonial_profession {
    font-size: 14px;
    color: gray;
}

/* .swiper_navigation {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    gap: 1rem;
} */

/* .swiper-button-prev, .swiper-button-next {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
} */

.slide_id_text {
    /* position: absolute;
    width: fit-content;
    bottom: 0;
    left: 50px;
    font-size: 20px; */
}

/* .swiper-button-prev {
    right: 50px !important;
    left: auto !important;
} */

.swiper-button-prev-custom,
.swiper-button-next-custom {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.swiper-button-prev-custom {
    left: 20px;
}

.swiper-button-next-custom {
    right: 20px;
}

.swiper-button-prev-custom img,
.swiper-button-next-custom img {
    display: block;
    width: 100%;
    height: auto;
}

.testimonial_swiper_navigation {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 12px;
    bottom: 12px;
    right: 0;
}



@media (min-width: 768px) {
    .testimonials {
        padding: 32px;
        padding-bottom: 0;
    }
    .testimonial_infos {
        margin-left: 100px;
    }
    .testimonial_text {
        margin-bottom: 48px;
    }
    .testimonial_swiper_navigation {
        right: 100px;
    }
}